<h1>プロフィール編集</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <p><%= @user.name %></p>
  <P><%= @user.email %></p>
  <p class="icon"><%= f.label :アイコン画像 %>:<%= image_tag(@user.image.url(:thumb)) %><%= f.file_field :image, id: :user_image %></p>
  <p><%= f.label :パスワード %></p>
  <p><%= f.password_field :password %></p>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :email %>
  <p><%= f.submit "編集", class: "btn btn-warning btn-lg" %></p>
<% end %>
</div>